In [59]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [60]:
X = pd.read_csv('train.txt', sep=" ", header = None)
X.head()

,0,1,2,3,4,5,6,7,8,9
0,120.3882,67.1368,3.6905,0.1128,0.0481,-155.5746,35.3004,47.8095,3.8760,289.0430
1,28.5322,15.1782,2.6686,0.4306,0.2399,30.9627,21.7936,21.9248,62.7504,254.0526
2,38.8799,21.5881,3.0573,0.2025,0.1047,18.7566,-24.0106,11.6233,0.7040,185.2510
3,28.8255,16.7964,2.6642,0.3402,0.1701,3.6149,-18.2080,9.8634,2.4949,213.1690
4,20.7522,8.9492,2.3874,0.6434,0.3586,24.0649,10.5927,1.8768,36.3060,126.3930

In [61]:
y = pd.read_csv('train_labels.txt', sep=" ", header = None)
y.head()

   0
0  1
1  1
2  0
3  0
4  1

In [62]:
X = (X - X.mean(axis = 0))/X.std(axis = 0)
y=y[0]

In [63]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

# KNN

In [64]:
from sklearn.model_selection import cross_val_score
model = KNeighborsClassifier(n_neighbors = 4)
CV_scores = cross_val_score(model, X, y, cv = 10)
print(str(1-CV_scores))
print(str(1-CV_scores.mean())  + "+-"+ str((1-CV_scores).std() * 2))

[ 0.17788141  0.16655563  0.17133333  0.17533333  0.17333333  0.18933333
  0.16333333  0.172       0.17144763  0.16544363]
0.172599496948+-0.0140402024802

# SVM

In [65]:
from sklearn.svm import SVC # "Support Vector Classifier"
svc_model = SVC(kernel = 'rbf')
scores = cross_val_score(svc_model, X, y, cv = 10)
print(scores)
print("Accuracy:" + str(scores.mean()) +"+-" + str(scores.std() * 2))
print("Error:" + str(1 - scores.mean())+ "+-" + str(scores.std() * 2))

[ 0.85742838  0.8667555   0.87266667  0.85533333  0.86533333  0.85266667
  0.874       0.87        0.8712475   0.87791861]
Accuracy:0.866334998816+-0.0162352109749
Error:0.133665001184+-0.0162352109749

# Gradient Boosting Trees

In [66]:
from sklearn.ensemble import GradientBoostingClassifier

clf = GradientBoostingClassifier(learning_rate=0.1, n_estimators=100,  max_depth=3, subsample=1.0)
clf = clf.fit(X_train, y_train)
scores = cross_val_score(clf, X, y, cv = 10)
print(scores)
print("Accuracy:" + str(scores.mean()) +"+-" + str(scores.std() * 2))
print("Error:" + str(1 - scores.mean())+ "+-" + str(scores.std() * 2))

[ 0.87208528  0.87941372  0.86866667  0.862       0.86866667  0.85866667
  0.87733333  0.876       0.8712475   0.87991995]
Accuracy:0.871399977896+-0.0135514806711
Error:0.128600022104+-0.0135514806711

# Random Forest

In [67]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, max_depth = 20, criterion="gini", n_jobs = 2, oob_score = True)
model.fit(X_train, y_train)

scores = cross_val_score(model, X, y, cv = 10)
print(scores)
print("Accuracy:" + str(scores.mean()) +"+-" + str(scores.std() * 2))
print("Error:" + str(1 - scores.mean())+ "+-" + str(scores.std() * 2))

[ 0.87941372  0.88607595  0.87666667  0.864       0.87866667  0.86733333
  0.88266667  0.878       0.87991995  0.88125417]
Accuracy:0.877399712296+-0.0128322985097
Error:0.122600287704+-0.0128322985097